node_modules
dist
.env
.env.*
!.env.example
.turbo
coverage/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
*.sqlite
*.log
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.stylelintcache
.prettiercache
build/
.vercel

env.json
.env
.env.local

# Arquivos de Midia e Gerados em Interacoes
*.mp3
*.mp4
*.wav
*.sqlite
*.sql
*.dmp
*.bak
dump/
dumps/
backups/
/mockups/
/podcasts/
/temp/
/tmp/
/temp_build/
/*.webm
/*.mkv
arsenal_materiais/
