@corestudio:registry=https://registry.figma.com/npm/ed1f071b-f6e4-4c6e-b185-8cf7a19c07fc/registry/
//registry.figma.com/npm/ed1f071b-f6e4-4c6e-b185-8cf7a19c07fc/registry/:_authToken=figp_oVcSSDn3ggKiqwxXRCjcJiJ5yUJLdeCwAZRA0ZgE
