/* Component 1 */

position: absolute;
width: 106.76px;
height: 67.85px;
left: 189px;
top: 597.01px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #BAB18D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 36.27%;
bottom: 26.88%;

background: #47422F;


/* Vector */

position: absolute;
left: 70.05%;
right: 5.71%;
top: 11.7%;
bottom: 6.7%;

background: #FFFFFF;


/* Mask group */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;



/* Group */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;



/* b54ea0c589 */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;



/* Rectangle */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;

background: url(.png);


/* Group */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;



/* Rectangle */

position: absolute;
left: 43.18%;
right: 42.28%;
top: 3.13%;
bottom: 76.76%;

background: url(.png);


/* Vector */

position: absolute;
left: 42.85%;
right: 54.74%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 45.68%;
right: 52.18%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 48.06%;
right: 49.52%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 50.89%;
right: 47.35%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 52.84%;
right: 45.29%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 54.85%;
right: 42.73%;
top: 24.44%;
bottom: 71.48%;

background: #47422F;


/* Vector */

position: absolute;
left: 42.19%;
right: 56.99%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 43.11%;
right: 56.26%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 43.88%;
right: 55.49%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 44.65%;
right: 54.44%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 45.7%;
right: 53.44%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 46.75%;
right: 53.14%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 47.02%;
right: 52.15%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 47.96%;
right: 51.19%;
top: 29.49%;
bottom: 68.65%;

background: #47422F;


/* Vector */

position: absolute;
left: 49.09%;
right: 50.47%;
top: 29.07%;
bottom: 70.65%;

background: #47422F;


/* Vector */

position: absolute;
left: 48.9%;
right: 50.27%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 49.84%;
right: 49.26%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 51.24%;
right: 47.9%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 52.19%;
right: 46.99%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 53.18%;
right: 46.13%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 54.39%;
right: 45.41%;
top: 29.07%;
bottom: 70.64%;

background: #47422F;


/* Vector */

position: absolute;
left: 54.03%;
right: 45.14%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 55.02%;
right: 44.37%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 55.85%;
right: 44.04%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;


/* Vector */

position: absolute;
left: 56.17%;
right: 42.98%;
top: 29.49%;
bottom: 69.08%;

background: #47422F;


/* Vector */

position: absolute;
left: 57.11%;
right: 42.06%;
top: 29.51%;
bottom: 69.11%;

background: #47422F;
